.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
 
}

.hero-container {
  justify-content: space-between;
  align-items: flex-end;
}

/* left */
.hero_left {
  gap: 3rem;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 200;
  font-size: 6rem;
  line-height: 5.5rem;
}

.orange-c {
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 32%;
  top: -10%;
  z-index: -1;
}

.orange-c2 {
  height: 10rem;
  width: 10rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 25%;
  top: -5%;
  z-index: 0;
}
.search {
  background-color: white;
  border-radius: 400px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.search > input {
  border: none;
  outline: none;
}

.stats {
  width: 100%;
  justify-content: space-between;
}

.stat > :nth-child(1) {
  font-size: 2rem;
}

.stat > :nth-child(1) > :last-child {
  color: orange;
}

.hero-right {
  position: relative;
   /* Allow the hero-right section to take available space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible; /* Ensure the content is not clipped */
}

.H {
  position: relative;
  flex: 1; /* Allow the hero-right section to take available space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  left: 0% ;
  top: 10%;
  
}

.image-container {
  position: relative;
  width: 43rem;
  height: 35rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);*/
  z-index: 1;
}

.image-container > img {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}

.Fonts-1 {
  font-family: "Bebas Neue", sans-serif;
}


.Fonts-2 {
  font-family: "Mrs Saint Delafield", cursive;
  color: #ffa500;
  font-weight: 100;
  font-size: 8rem;
  line-height: 7rem;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}